/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.divForImg{
  width: 100%;
  height: 404;
  margin: 15px;
 
 
}
img{
  height: 35vw;
  width:35vw ;
}
 
.divForPointer {
  position:fixed;
  top: 11vw;
  left: 18vw;
  height: 9vw;
  width: 0.6vw;
  transition-duration: 3s;
  transform-origin: 50% 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background:linear-gradient(to bottom,#800000  0%, #ffffff 98%);
}
input{
  outline: none;
}
.colorGreen{
  color: green;
}
.colorYellow{
  color:yellow;
} */
h1 {
  margin: 0;
  padding: 0;
}
html, body, .app {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}